/* src/app/globals.css */
@import "tailwindcss";

/* Tu môžeš pridať vlastné globálne štýly */
body {
  font-family: 'Inter', sans-serif;
}

::placeholder {
  color: white;
  opacity: 1; /* Full visibility */
}
